<div id="header">
	<%= link_to image_tag("logo.jpg", alt:"Color En Movimiento"), "#wrap", {:width =>"260", :height => "59"} %>

    <ul id="navBar">
        <% if params[:action] != "home" then a_home = "/" else a_home = "" end %>
        <% if params[:action] != "inscripcion" then a_inscripcion = "/inscripcion" else a_inscripcion = "" end %>
    	<li class="hov"> <%= link_to "video", a_home + "#video10" %> </li>
    	<li class="hov"> <%= link_to "Qué es", a_home + "#que10" %> </li>
    	<li class="hov"> <%= link_to "Por qué lo hacemos", a_home + "#porque10" %> </li>
        <li class="hov"> <%= link_to "Inscribite", a_inscripcion.present? ? a_inscripcion : "#wrap" %> </li>
    	<li class="hov"> <%= link_to "Voluntarios", a_inscripcion + "#voluntarios102" %> </li>
    	<li class="hov"> <%= link_to "FAQ", a_home + "#faq10" %> </li>
    	<li class="hov"> <%= link_to "Contacto", a_home + "#contacto10" %> </li>
	</ul><!--NAVBAR -->

    <ul id="socialNav">
    	<li><%= link_to image_tag("vm.jpg", alt:"vimeo"), "http://vimeo.com/colorenmovimiento", {:target=>"blank", :width => "24", :height =>"24"} %></li>
    	<li><%= link_to image_tag("pi.jpg", alt:"vimeo"), "https://pinterest.com/colorenmov/", {:target=>"blank", :width => "24", :height =>"24"} %></li>
    	<li><%= link_to image_tag("tw.jpg", alt:"vimeo"), "https://twitter.com/colorenmov", {:target=>"blank", :width => "24", :height =>"24"} %></li>
    	<li><%= link_to image_tag("fb.jpg", alt:"vimeo"), "http://www.facebook.com/pages/Colorenmovimiento/365612333527726?fref=ts", {:target=>"blank", :width => "24", :height =>"24"} %></li>
		<fb:like href="http://www.facebook.com/pages/Colorenmovimiento/365612333527726?fref=ts" send="false" layout="button_count" width="50" show_faces="false" style="margin-left: 100px; margin-top: 3px;"></fb:like>
	</ul><!--SOCIALNAV-->
           	

</div><!--HEADER-->