<div id="header">
	<%= link_to image_tag("logo.jpg", alt:"Color En Movimiento"), "#wrap", {:width =>"260", :height => "59"} %>

    <ul id="navBar">
    	<li class="hov"> <%= link_to "video", "#video" %> </li>
    	<li class="hov"> <%= link_to "Qué es", "#que" %> </li>
    	<li class="hov"> <%= link_to "Por qué lo hacemos", "#porque" %> </li>
        <li class="hov"> <%= link_to "Inscribite", "#" %> </li>
    	<li class="hov"> <%= link_to "Voluntarios", "#" %> </li>
    	<li class="hov"> <%= link_to "FAQ", "#faq" %> </li>
    	<li class="hov"> <%= link_to "Contacto", "#contacto" %> </li>
	</ul><!--NAVBAR -->

    <ul id="socialNav">
    	<li><%= link_to image_tag("vm.jpg", alt:"vimeo"), "http://vimeo.com/colorenmovimiento", {:target=>"blank", :width => "24", :height =>"24"} %></li>
    	<li><%= link_to image_tag("pi.jpg", alt:"vimeo"), "https://pinterest.com/colorenmov/", {:target=>"blank", :width => "24", :height =>"24"} %></li>
    	<li><%= link_to image_tag("tw.jpg", alt:"vimeo"), "https://twitter.com/colorenmov", {:target=>"blank", :width => "24", :height =>"24"} %></li>
    	<li><%= link_to image_tag("fb.jpg", alt:"vimeo"), "http://www.facebook.com/pages/Colorenmovimiento/365612333527726?fref=ts", {:target=>"blank", :width => "24", :height =>"24"} %></li>
		<fb:like href="http://www.facebook.com/pages/Colorenmovimiento/365612333527726?fref=ts" send="false" layout="button_count" width="50" show_faces="false" style="margin-left: 100px; margin-top: 3px;"></fb:like>
	</ul><!--SOCIALNAV-->
           	

</div><!--HEADER-->