
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

	<div id="wrap">
		
		<%= render 'static_pages/header' %>
        
        <div id="inscribite">
	        <img src="/assets/prox.jpg" width="940" height="174" />
	        <p class="locationIntro">
	        ¡Queremos que te sumes a Color en Movimiento! Ac&aacute; pod&eacute;s enterarte de todas las nuevas ciudades a las que vamos a visitar y a colorear.<br />
	        Si no ves tu ciudad, <a href="/">¡Votala!</a></p>
	        
	        <table class="locations">
				<thead>
					<tr><th>Carrera</th><th>Fecha</th><th>Inscripci&oacute;n</th></tr>
				</thead>
				<tbody>								

				  <% @races.each do |race| %>
				    <tr>
				      <td><a href="/carreras/<%= race.id %>" %><%= race.title %></a></td>
				      <td><%= l race.race_date, :format => "%d de %B, %Y" %></td>
				      <td style="height:40px">
						<div id="inscribiteBtnLista">
				      		<a href="/carreras/<%= race.id %>" %><%= race.status_s.upcase %></a>
				      	</div>
				      </td>
				    </tr>
				  <% end %>
				  
				</tbody>
			</table>
	    
	    </div><!--INSCRIBITE-->
	    

	    <span class="anchor" id="voluntarios102"></span>
	    <div id="voluntarios2" >
		       	<h3>Voluntarios</h3>
	            <p>Quer&eacute;s ayudarnos y ser parte de Color en Movimiento? Esta es tu oportunidad. Postulate para ser miembro de COLORGANG. Pod&eacute;s ser parte de la organizaci&oacute;n de las carreras y/o encargarte de bombardear con colores a los corredores, bailarines y caminantes de Color en movimiento.</p>
				<p>Es muy simple, apunt&aacute;s, tir&aacute;s y te divert&iacute;s. Si sent&iacute;s que hay un color que te identifique m&aacute;s avisanos as&iacute; te sumamos a tu equipo con otros fan&aacute;ticos del mismo color.</p>
				<p>Para enterarte m&aacute;s complet&aacute; el formulario.</p>
				<img src="/assets/roll4.png" width="230" height="225" />
	            
	            <%= form_for @volunteer, :url => "/volunteers/new", :method => "post", :remote => true, :html =>{ :class => "volMain"} do |f| %>
					<div class="form-all">
						<ul class="form-section">
												
							<li class="form-line">
								<label> Nombre </label>
								<div>
									<%= f.text_field :name, :class => "form-textbox" %>
								</div>
							</li>
							
							<li class="form-line">
								<label> Apellido </label>
								<div>
									<%= f.text_field :last_name, :class => "form-textbox" %>
								</div>
							</li>
							
							<li class="form-line">
								<label> Email </label>
								<div>
									<%= f.text_field :email, :class => "form-textbox", :placeholder => "nombre@servidor.com" %>
								</div>
							</li>
							
							<li class="form-line">
								<label> Ciudad </label>
								<div>
									<%= f.text_field :ciudad, :class => "form-textbox" %>
								</div>
							</li>
							
							<li class="form-line">
								<label> Provincia / Estado </label>
								<div>
									<%= f.text_field :provestado, :class => "form-textbox" %>
								</div>
							</li>
							
							<li class="form-line">
								<label> Pa&iacute;s </label>
								<div>
									<%= f.text_field :pais, :class => "form-textbox" %>
								</div>
							</li>
							
							<li class="form-line">
								<label> Sos voluntario en otra Organizaci&oacute;n sin fines de lucro? cu&aacute;l? </label>
								<div>
									<%= f.text_field :cual, :class => "form-textbox" %>
								</div>
							</li>
							
							<li class="form-line">
								<label> Qu&eacute; tipo de voluntario quer&eacute;s ser? </label>
								<div>
									<%= f.select :tipo, [ ["Voluntario en el día de la carrera - Organizando y ayudando a los participantes.", "1"], ["Voluntario en el día de la carrera - Entreteniendo y motivando.", "2"], ["Voluntario para repartir los kits de participantes una semana antes de la carrera.", "3"], ["Voluntario para organizar la carrera en mi ciudad.", "4"], ["Voluntario en comunicación del proyecto.", "5"], ["Voluntario como fotógrafo para el día de la carrera.", "6"], ["Voluntario como fotógrafo para eventos previos a la carrera.", "7"], ["Otro.", "8"] ] %>
								</div>
							</li>
							
							<li class="form-line">
								<label> Color </label>
								<div>
									<%= f.select :color, [ ["Azul", "Azul"], ["Amarillo", "Amarillo"], ["Verde", "Verde"], ["Fucsia", "Fucsia"] ] %>
								</div>
							</li>                 
			  
							<li class="form-line">
								<label> Contanos un poco m&aacute;s de vos (habilidades, disponibilidad horaria, contactos, facilidades, etc) </label>
									<div>
										<%= f.text_area :contanos, :class => "form-textarea", :cols => "62", :rows => "5" %>
									</div>
							</li>
			  
							<li class="form-line">
								<div>
									<div>
										<button class="form-submit-button" type="submit">Enviar</button>
									</div>
								</div>
							</li>
						</ul>
					</div>
				<% end #form 
				%>
		</div><!--VOLUNTARIOS-->
	        


	<ul>
    <li id="gototop"><a href="#wrap">Ir Arriba</a></li>
    </ul>
	</div><!--WRAP-->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36352346-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

