
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<style type="text/css">
	p, h4, h5{float:none !important}
</style>
	<div id="wrap" class="shorter">
		
		<%= render 'static_pages/header' %>



<div id="race">
    <img src="<%= @race.header.url(:header) %>" width="940" height="174" />
    <div class="raceNav">
    	<ul>
        	<li><a href="#info">Info</a></li>
            <% if @race.map_embed_url.present? %>
                <li><a href="#mapa">Mapa</a></li>
            <% end %>
            <% if @race.charities.size > 0 %>
                <li><a href="#caridad">ONG Aliadas</a></li>
            <% end %>
            <% if @race.sponsors.size > 0 %>
                <li><a href="#sponsors">Sponsors</a></li>
            <% end %>
            <li><a href="/inscripcion#voluntarios102">Voluntariado</a></li>
            <li class="inscribiteBtn"><a href="<%= @race.eventioz_link %>" target="_blank">¡Inscribite!</a></li>
        </ul>
    </div><!--RACE NAV-->
    
    <h4><%= @race.title2 %></h4>
    
    <p><%= @race.description %></p>
    
    <div id="info">
        <h5>¿C&oacute;mo funciona?</h5>
        <p><%= @race.how_it_workd %></p>
        
        <h5>Reglas de la carrera</h5>
        
        <p><%= @race.rules %></p>

    </div><!--INFO-->
    
    <% if @race.map_embed_url.present? %>
        <div id="mapa">
        	<h5>Recorrido</h5>
            <iframe width="900" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="<%= raw @race.map_embed_url %>"></iframe>
        </div><!--MAPA-->
    <% end %>
    
    <% if @race.sponsors.size > 0 %>

        <div id="sponsors">
            <h5>Sponsors</h5>
            <% if @race.sponsors.where(:xtype => 1).size > 0 %>
                <ul>
                	<h6>Main Sponsor</h6>
                    <% @race.sponsors.where(:xtype => 1).each{ |s| %>
                        <li><%= image_tag s.img.url(:thumb) %></li>
                    <% } %>
                </ul>
            <% end %>

            <% if @race.sponsors.where(:xtype => 2).size > 0 %>
                <ul>
                    <h6>Color Sponsor</h6>
                    <% @race.sponsors.where(:xtype => 2).each{ |s| %>
                        <li><%= image_tag s.img.url(:thumb) %></li>
                    <% } %>
                </ul>
            <% end %>

            <% if @race.sponsors.where(:xtype => 3).size > 0 %>
                <ul>
                    <h6>City Sponsor</h6>
                    <% @race.sponsors.where(:xtype => 3).each{ |s| %>
                        <li><%= image_tag s.img.url(:thumb) %></li>
                    <% } %>
                </ul>
            <% end %>

        </div><!--SPONSORS-->
    <% end %>

    <% if @race.charities.size > 0 %>
        <div id="caridad">
            <h5>ONG Aliadas</h5>
            <ul>
                <% @race.charities.each{ |c| %>
                    <li><%= image_tag c.img.url(:thumb) %></li>
                <% } %>
            </ul>
        </div><!--CARIDAD-->
    <% end %>

<div id="footer">
    <div class="pdf">
        <a href="<%= @race.docs.url %>" target="_blank">
            <img src="/assets/download.png" width="452" height="130"  />
        </a>
    </div><!--PDF--> 
    <div class="inscribite2">
        <a href="<%= @race.eventioz_link %>" target="_blank"><img src="/assets/inscribite2.png" width="452" height="130"  /></a>
    </div><!--inscribite2-->
</div><!--FOOTER-->
</div><!--RACE-->


	</div><!-- #wrap -->
