<body style="margin-top:120px">

<i class="icon-trophy icon-2x pull-left icon-border"></i>
<h3>Archivos de la carrera</h3>
<br clear="all" /><br/>

<%= form_for(@race, :url => "", :html => { :multipart => true }) do |f| %>

	<p><%= f.label :docs, "Documentos de la carrera" %><br/>
		<% #if @race.docs.present? %>
			<%= link_to "Abrir archivo", @race.docs.url %><br/>
		<% #end %>
		<%= f.file_field :docs, :class => "input-large" %>
	</p>

	<p><%= f.label :header, "Encabezado para la página de la carrera" %><br/>
		<% if @race.header.present? %>
			<%= image_tag @race.header.url(:header) %><br/>
		<% end %>
		<%= f.file_field :header, :class => "input-large" %>
	</p>

	<p>
	<%= f.submit "Guardar", :class => "btn btn-primary" %>
	</p>

	<br/>

<% end %>

<br clear="all" /><br/>

<h3>Corren con nosotros</h3><br/><br/>


<table class="table table-striped">
	<tbody>
		<tr>
			<td><%= @race.sponsor_type_name(1) %><br/>
				<input type="button" class="btn btn-info" value="Editar" onclick=" v = prompt('Ingrese el nombre del tipo de sponsoreo:', '<%= @race.sponsor_type_name(1) %>'); window.location='?sponsor_type=1&value=' + v; " />
			</td>
			<td>
				<% @race.sponsors.where(:xtype => 1).each{ |s| %>
					<div class="pull-left" style="width:220px;">
						<%= image_tag s.img.url(:thumb) %> <br/>
						<div class="btn-group">
							<button onclick="v = prompt('Ingrese link sin http', '<%= s.link_url %>'); window.location='?sponsor_link=<%= s.id %>&value=' + v; " class="btn">Link</button>
							<button onclick="if(confirm('¿Seguro de eliminar?')) window.location='?delete_sponsor=<%= s.id %>';" class="btn btn-danger">Eliminar</button>
						</div>
					</div>
				<% } %>
			</td>
			<td style="width:200px">
				<%= form_for(@sponsor, :url => "", :html => {:multipart => true}) do |f| %>
					<%= f.hidden_field :xtype, :value => 1 %>
					<%= f.file_field :img , :style => "width:200px" %><br/>
					<%= f.submit "Guardar", :class => "btn btn-primary" %>
				<% end %>
			</td>
		</tr>

		<tr>
			<td><%= @race.sponsor_type_name(2) %><br/>
				<input type="button" class="btn btn-info" value="Editar" onclick=" v = prompt('Ingrese el nombre del tipo de sponsoreo:', '<%= @race.sponsor_type_name(2) %>'); window.location='?sponsor_type=2&value=' + v; " />
			</td>
			<td>
				<% @race.sponsors.where(:xtype => 2).each{ |s| %>
					<div class="pull-left" style="width:220px;">
						<%= image_tag s.img.url(:thumb) %> <br/>
						<div class="btn-group">
							<button onclick="v = prompt('Ingrese link sin http', '<%= s.link_url %>'); window.location='?sponsor_link=<%= s.id %>&value=' + v; " class="btn">Link</button>
							<button onclick="if(confirm('¿Seguro de eliminar?')) window.location='?delete_sponsor=<%= s.id %>';" class="btn btn-danger">Eliminar</button>
						</div>
					</div>
				<% } %>
			</td>
			<td style="width:200px">
				<%= form_for(@sponsor, :url => "", :html => {:multipart => true}) do |f| %>
					<%= f.hidden_field :xtype, :value => 2 %>
					<%= f.file_field :img , :style => "width:200px" %><br/>
					<%= f.submit "Guardar", :class => "btn btn-primary" %>
				<% end %>
			</td>
		</tr>

		<tr>
			<td><%= @race.sponsor_type_name(3) %><br/>
				<input type="button" class="btn btn-info" value="Editar" onclick=" v = prompt('Ingrese el nombre del tipo de sponsoreo:', '<%= @race.sponsor_type_name(3) %>'); window.location='?sponsor_type=3&value=' + v; " />
			</td>
			<td>
				<% @race.sponsors.where(:xtype => 3).each{ |s| %>
					<div class="pull-left" style="width:220px;">
						<%= image_tag s.img.url(:thumb) %> <br/>
						<div class="btn-group">
							<button onclick="v = prompt('Ingrese link sin http', '<%= s.link_url %>'); window.location='?sponsor_link=<%= s.id %>&value=' + v; " class="btn">Link</button>
							<button onclick="if(confirm('¿Seguro de eliminar?')) window.location='?delete_sponsor=<%= s.id %>';" class="btn btn-danger">Eliminar</button>
						</div>
					</div>
				<% } %>
			</td>
			<td style="width:200px">
				<%= form_for(@sponsor, :url => "", :html => {:multipart => true}) do |f| %>
					<%= f.hidden_field :xtype, :value => 3 %>
					<%= f.file_field :img , :style => "width:200px" %><br/>
					<%= f.submit "Guardar", :class => "btn btn-primary" %>
				<% end %>
			</td>
		</tr>

	</tbody>
</table>


<h3>ONG Aliadas</h3><br/><br/>

<% @race.charities.each{ |c| %>
	<div class="pull-left" style="width:220px">
		<%= image_tag c.img.url(:thumb) %> <br/>
		<button onclick="if(confirm('¿Seguro de eliminar?')) window.location='?delete_charity=<%= c.id %>';" class="btn btn-danger">Eliminar</button>
	</div>
<% } %>
<br clear="all" /><br/>
	<div class="pull-left" style="width:220px">
		<strong>Nueva</strong>
		<%= form_for(@charity, :url => "", :html => {:multipart => true}) do |f| %>
			<%= f.file_field :img %>
			<br/>
			<%= f.submit "Guardar", :class => "btn btn-primary" %>
		<% end %>
	</div>

	<br clear="all" />
<br/><br/>
</body>