<body style="margin-top:120px">

<i class="icon-trophy icon-2x pull-left icon-border"></i>
<h3>Carreras</h3>
<br clear="all" /><br/>



  <table class="table table-striped">
    <tr>
      <th>Carrera</th>
      <th>Fecha</th>
      <th>Estado</th>
      <th></th>
    </tr>

  <% @races.each do |race| %>
    <tr>
      <td><%= race.title %></td>
      <td><%= l race.race_date, :format => "%d/%m/%Y" %></td>
      <td><%= race.status_s %></td>
      <td>
        <%= link_to 'Editar', "/races/editar/" + race.id.to_s, :class => "btn" %>
        <%= link_to "Archivos", "/races/archivos/" + race.id.to_s, :class => "btn" %>
      </td>
    </tr>
  <% end %>
  </table>

  <a href="/races/nueva" class="btn"><i class="icon-plus"></i> Nueva carrera</a>


</body>