<body style="margin-top:120px">
<h3> Ciudades </h3></br>
<div style="float:right" class="btn btn-link"><%= link_to 'Volver', admin_path %></div> 
<div class="table table-striped">
  <table>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>

  <% @cities.each do |city| %>
    <tr>
      <td><%= city.name %></td>
      <td><%= link_to 'Editar', edit_city_path(city) %></td>
      <td><%= link_to 'Eliminar', city, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
    </tr>
  <% end %>
  </table>
</div>
<br />

<div class="btn btn-link"><%= link_to 'Nueva Ciudad', new_city_path %></div>
</body>