<body style="margin-top:120px">
<h3> <%= @city.name %> </h3>
<div style="float:right" class="btn btn-link"><%= link_to 'Volver', admin_path %></div> 
</br>	
<div class="table table-striped">
  <table>
    <thead>
    	<tr>
    		<th>Email</th>
    		<th>Otra<th>
        <th>&nbsp;</th>
    	</tr>
    </thead>
    <tbody>
    	<% @votes.each do |vote| %>
        <tr id="vote_<%= vote.id %>">
        	<td><%= vote.email %></td>
        	<td><%= vote.other %></td>
          <td>
            <button class="btn btn-danger btn-small" onclick="deleteVote(<%= vote.id %>);">Eliminar</button>
          </td>
        </tr>
  	  <% end %>
    </tbody>
  </table>
</div>
</body>

<script type="text/javascript">
  var vote_id = "";
function deleteVote(id){
  vote_id = id;
  jQuery.post("/votes_admin/<%= params[:id] %>", { delete_vote: id }, function(data){
    jQuery("#vote_" + vote_id).hide();
  });
}

</script>



