<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @vote.email %>
</p>

<p>
  <b>City:</b>
  <%= @vote.city_id %>
</p>

<p>
  <b>Other:</b>
  <%= @vote.other %>
</p>


<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
