<!DOCTYPE html>
<html>
<head>
  <title>Color en Movimiento</title>
  <%= stylesheet_link_tag    "style", :media => "all" %>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <%= javascript_include_tag ("jquery-1.4.min") %>
  <%= javascript_include_tag ("jquery.easing-1.3") %>
  <%= javascript_include_tag ("jquery.localscroll-1.2.7-min") %>
  <%= javascript_include_tag ("jquery.iosslider") %>
  <%= javascript_include_tag 'jquery', 'application' %>
  <%= render 'layouts/javascript' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>

</body>
</html>
