<!DOCTYPE html>
<html>
<head>
  <title>Color en Movimiento</title>
  <%= stylesheet_link_tag    "style", :media => "all" %>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  
  <%= javascript_include_tag 'application' %>

  <%= render 'layouts/javascript' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>

</body>
</html>
